[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
python-multipart = "*"
pydantic = "*"
pymongo = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
aiohttp = "*"
passlib = "*"
bcrypt = "*"
beanie = "*"
motor = "*"

[dev-packages]
black = "*"
isort = "*"
ruff = "*"
mypy = "*"
httpx = "*"
aiohttp = "*"
passlib = "*"
bcrypt = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.13"
